/**
 * Komatsu NA Maintenance Log
 * Application custom CSS
 *
 * Author: Kevin Sawicke <kevin@rinconmountaintech.com>
 *
 * #0E1271 - Komatsu Gloria Blue
 */
html {
    overflow-y: scroll; /** Always show vertical scrollbar **/
}

.jstree-anchor, .jstree-anchor:link, .jstree-anchor:visited, .jstree-anchor:hover, .jstree-anchor:active {
    font-family: 'PT Sans Caption' !important;
    font-size: 15px;
    margin: 0px;
    color: #22252A;
    padding: 0px 10px;
}

.jstree-default .jstree-clicked, .jstree-hovered {
    background: orange !important;
    border-radius: 2px !important;
    box-shadow: none !important;
}