/**
 * Komatsu NA Maintenance Log
 * Application custom CSS
 *
 * Author: Kevin Sawicke <kevin@rinconmountaintech.com>
 *
 * #0E1271 - Komatsu Gloria Blue
 */
html {
    overflow-y: scroll; /** Always show vertical scrollbar **/
}

body {
    font-family: 'PT Sans Caption';
    font-size: 15px;
    margin: 0px;
    color: #22252A;
}

.buttonLink {
    text-decoration: none;
}

.app-content-wrapper {
    margin-top:35px;
}

tr, td {
    vertical-align: top;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active:hover:active, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active[disabled] {
    background-color: #0E1271;
    background-image: none !important;
}

#btnNext {
    background-color: #0E1271;
    border-color: #0E1271;
    color: #fff;
}
#btnNext:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.form-aftermargin {
    margin-bottom:10px;
}

#sidebar-wrapper {
    background-color: #C9C9CA;
}

#sidebar-wrapper > ul > li {
    background: #C9C9CA;
}
#sidebar-wrapper > ul > li:hover {
    background: #EAB03D;
}

#sidebar-wrapper > ul > li a {
    color: #0E1271; /** Komatsu Gloria Blue **/
    font-weight: 700;
}
#sidebar-wrapper > ul > li:hover a {
    color: #0E1271;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.glyphicon-menu-hamburger {
    color: #0E1271;
    font-size: 26px;
    margin-top: 6px;
    margin-left: -12px;
}

#wrapper {
    margin-left: -10px;
}

.btn-primary {
    background-color: #0E1271;
    color: #fff;
}
.btn-primary:hover {
    background: #EAB03D;
    color: #0E1271;
}

.control-label {
    margin-top:10px;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 18px;
}

/* jBox tweaks */
.jBox-Modal .jBox-title {
   background: #0E1271;
   color: #fff;
   font-weight:bold;
}
.jBox-content {
  border-left: 6px solid #0E1271;
  border-right: 6px solid #0E1271;
  border-bottom: 6px solid #0E1271;
  margin-top: -1px;
  text-align: center;
}

div.jBox-title > div.jBox-closeButton.jBox-noDrag > svg > path,
div.jBox-title > div.jBox-closeButton.jBox-noDrag > svg > path:hover {
  fill: #fff;
}

.jBoxContentHeaderText {
   font-size:32px;
   font-weight:bold;
   margin-top: 24px;
}
.jBoxContentBodyText {
   font-size:24px;
   line-height:30px;
   padding: 30px 0px;
}

.tt-menu {
    margin-top: -18px;
    width: 100%;
}

ul, li {
    list-style-type: none;
}

li {
    padding-left: 2em;
    text-indent: -2em;
}

li.paginate_button {
    padding-left: 0px !important;
    text-indent: 0px !important;
}

.smallCaps {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.hideButton {
    display: none;
}

.loading {
    width:18px;
    margin-left:7px;
    margin-bottom:2px;
    display:none;
}

/* Enter Service Log */
#goBackButton,
#reviewButton,
#submitButton,
#reviewScreen {
    display: none;
}
.form-section {
    display: none;
}
.form-section.current {
    display: inherit;
}
.btn-info, .btn-default, .btn {
    margin-top: 10px;
}
.form-error {
    padding-top:5px;
    font-weight: bold;
    color: red;
}
.hide_me,
.hideButton {
    display: none;
}

.nounderline {
    text-decoration: none !important;
}

/** Custom Button Style **/
/* @see http://blog.koalite.com/bbg/ */
.btn-primary { 
  color: #FFFFFF !important; 
  background-color: #0E1371 !important; 
  border-color: #FFFFFF !important; 
} 
 
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  color: #FFFFFF !important; 
  background-color: #E0851D !important; 
  border-color: #FFFFFF !important; 
} 
 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary { 
  background-image: none !important; 
} 
 
.btn-primary.disabled, 
.btn-primary[disabled], 
fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, 
.btn-primary[disabled]:focus, 
fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, 
.btn-primary[disabled]:active, 
fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, 
.btn-primary[disabled].active, 
fieldset[disabled] .btn-primary.active { 
  background-color: #0E1371 !important; 
  border-color: #FFFFFF !important; 
} 
 
.btn-primary .badge { 
  color: #0E1371 !important; 
  background-color: #FFFFFF !important; 
}

/**
 * Sortable
 */
table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#sortable1, #sortable2 {
	border: 1px solid #eee !important;
	width: 100% !important;
	min-height: 20px !important;
	list-style-type: none !important;
	margin: 0 !important;
	padding: 5px 0 0 0 !important;
	float: left !important;
	margin-right: 10px !important;
}
#sortable1 li, #sortable2 li {
	margin: 10px 12px 10px 12px !important;
	/*padding: 5px !important;*/
	font-size: 1.2em !important;
	/*width: 100% !important;*/
}

.whatMatters .ui-state-highlight, .whatMatters .ui-widget-content .ui-state-highlight, .whatMatters .ui-widget-header .ui-state-highlight {
	border: 1px solid #dad55e !important;
	background: orange !important;
	color: #777620 !important;
}
